spring:
  application:
    name: CloudGateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
          loser-case-service-id: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8010/realms/CourseRealm
server:
  port: 8080

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://MicroserviceEurekaUser:senha1234@localhost:8761/eureka
